# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Large RAW files & Exports
*.CR2
*.cr2
*.NEF
*.ARW
*.DNG
*.jpg
*.jpeg
*.png

# VS Code / IDE settings
.vscode/
.idea/